<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
 
<body>
    <div class="container">
        <div class="row">
            <div class="col-12" ng-app="Test" ng-controler="Control1" ng-init="Content1='Welcome to AngularJS'">

                <p>Enter your Name: <input type="text" class="form-control" ng-model="content"></p>
                <p class="display-4" ng-bind="content"></p>
                <!-- getting value from ng-init -->
                <small class="text-muted">ng-init ng-bind</small>
                <p class="display-4" <span ng-bind="Content1"></span></p>
                <small class="text-muted">ng-init expression </small>
                <p class="display-4">{{Content1}}</p>

                <small class="text-muted">output 5+5 with expression</small>
                <p class="display-4">Sum = {{5 + 5}}</p>

                <small class="text-muted">Example with ng-controller</small>
                <br>
                Your First Name: <input type="text" class="form-control" ng-model="Fname">
                <br>
                Your Last Name: <input type="text" class="form-control" ng-model="Lname">
                <br>
                <p class="display-4">Full Name: {{Fname + " " + Lname}}</p>


                <p class="mt-4 display-4">Two-Way Data Binding</p>

                Enter your Job: <input type="text" class="form-control" ng-model="job">
                <p class="display-4">Your Job: {{job}}</p>


            </div>







        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="public/angular-1.7.5/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        var app = angular.module('Test', []); //if using ng-app"" name, should add this js code 
        app.controller('Control1', function ($scope) {
            $scope.Fname = "James";
            $scope.Lname = "James";
            $scope.job = "";   
            // $scope.job = ""; this is mandatory(will run without this), because ng-model is inside ng-app="Test" 
            //and ng-controller="Control1". So both ng-app and ng-controller should be initialized, to run two-way data binding 
            // or $scope.job = "Job"; in this case ng-model value should be this , that input value is Job 
        });
    </script>
</body>

</html>