doctype html  
html
  head
  - var pageTitle = "Pugcupid"
    block data
    title= pageTitle
  body
    block ribbon

    block content

    block wipe

      p Pugs fo life 

      //remove indentation to come out  from block