doctype html
html(lang='en')
    head
        title Login
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    body
        .mt-4.container.card
            .col-md-12.my-4.text-center
                p.display-4.text-success Welcome #{user}, to your HomePage
            form(action='/submit_form', method='POST')
                .form-group
                    label(for='email') E-Mail Address
                    input#email.form-control(type='email', name='user_mail' value= print_email)
                    //two way - to bind value value= value_var  or #{value_var} but here, syntax of value is value = '' so herewe are using value= variable 
                .form-group
                    label(for='password') Password
                    input#password.form-control(type='password', name='user_pass' value= print_pass)
                .form-group.text-center
                    button#submit.btn.btn-primary.mt-4(type='submit') Submit
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
